In [195]:
import pandas as pd
rawdata = pd.read_csv('/Users/lucyliu/Desktop/smallData.csv')
rawdata['date'] = pd.to_datetime(rawdata.date)
dataTuple = list(rawdata.itertuples(index = False, name = None))
sorted(dataTuple, key=lambda x: (-x[1], x[2]))

[(6, 40, Timestamp('1987-01-06 00:00:00')),
 (2, 33, Timestamp('1987-01-02 00:00:00')),
 (3, 33, Timestamp('1987-01-03 00:00:00')),
 (1, 32, Timestamp('1987-01-01 00:00:00')),
 (5, 32, Timestamp('1987-01-05 00:00:00')),
 (4, 29, Timestamp('1987-01-04 00:00:00'))]

In [196]:
rawdata

   record_id  temperature       date
0          1           32 1987-01-01
1          2           33 1987-01-02
2          3           33 1987-01-03
3          4           29 1987-01-04
4          5           32 1987-01-05
5          6           40 1987-01-06

In [208]:
from tabulate import tabulate
sortedData = rawdata.sort_values(by=['temperature', 'date'], ascending = [False, True])
print(tabulate(sortedData, tablefmt="pipe", headers="keys", showindex = False))

|   record_id |   temperature | date                |
|------------:|--------------:|:--------------------|
|           6 |            40 | 1987-01-06 00:00:00 |
|           2 |            33 | 1987-01-02 00:00:00 |
|           3 |            33 | 1987-01-03 00:00:00 |
|           1 |            32 | 1987-01-01 00:00:00 |
|           5 |            32 | 1987-01-05 00:00:00 |
|           4 |            29 | 1987-01-04 00:00:00 |

|   record_id |   temperature | date                |
|------------:|--------------:|:--------------------|
|           6 |            40 | 1987-01-06 00:00:00 |
|           2 |            33 | 1987-01-02 00:00:00 |
|           3 |            33 | 1987-01-03 00:00:00 |
|           1 |            32 | 1987-01-01 00:00:00 |
|           5 |            32 | 1987-01-05 00:00:00 |
|           4 |            29 | 1987-01-04 00:00:00 |

[(6, 40, Timestamp('1987-01-06 00:00:00')),
 (2, 33, Timestamp('1987-01-02 00:00:00')),
 (3, 33, Timestamp('1987-01-03 00:00:00')),
 (1, 32, Timestamp('1987-01-01 00:00:00')),
 (5, 32, Timestamp('1987-01-05 00:00:00')),
 (4, 29, Timestamp('1987-01-04 00:00:00'))]

In [191]:
rawdata

   record_id  temperature       date
0          1           32 1987-01-01
1          2           33 1987-01-02
2          3           33 1987-01-03
3          4           29 1987-01-04
4          5           32 1987-01-05
5          6           40 1987-01-06